@use 'design';

.buildYourOwnSite {
    position: relative;
    margin-top: 2.1em;
    height: 1100px;
    overflow: hidden;
    .red {
        display: unset;
        position: absolute;
        top: 50px;
        left: -50px;
        width: 350px;
        height: 650px;
        border-radius: 0 25em 25em 0;
        background: design.$primary1-color;
    }
    .blue {
        position: absolute;
        right: -25px;
        width: 250px;
        height: 400px;
        bottom: 0;
        top: 600px;
        margin: 0;
        padding: 0;
        border-radius: 25em 0 0 25em;
        background: design.$primary2-color;
    }
    h1, p {
        padding-top: 2em;
        text-align: center;
        position: relative;
    }
    h1 {
        font-size: 56px;
        line-height: 50px;
        font-weight: 600;
        span {
            font-weight: 700;
        }
    }
    p {
        margin: 0 2em;
        font-size: 16px;
        font-weight: 200;
        span {
            font-weight: 400;
        }
    }

}
@media screen and (min-width: 400px) {
    .buildYourOwnSite {
        .blue {
            bottom: 0;
        }
    }
}
@media screen and (min-width:500px) {
    .buildYourOwnSite {
        .red {
            top: 8%;
        }
        h1 {
            padding-top: 5em;
            padding-bottom: 1em;
        }
        p {
            padding-bottom: 2em;

        }
    }
}
@media screen and (min-width: 750px) {
    .buildYourOwnSite {
        h1 {
            font-weight: 800;
            padding-top: 3em;
            margin-bottom: -.5em;
            font-size: 92px;
            line-height: 80px;
            span {
                font-weight: 600;
                font-size: 82px;
                display: block;
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            margin: 0 4em;
            span {
                font-weight: 600;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .buildYourOwnSite {
        p {
            font-size: 26px;
        }
        .red {
            top: 150px;
        }
    }
}
@media screen and (min-width: 1336px) {
    .buildYourOwnSite {
        height: 1400px;
        h1 {
            padding-top: 2em;
        }
        .red {
            height: 900px;
            width: 550px;
            border-radius: 0 500px 500px 0;
            top: 0;
        }
        .blue {
            height: 800px;
            width: 400px;
        }
    }
}